div.team {
	display: table;
	margin: 0 auto;
}

ul.horizontal-list { 
	min-width: 800px;
	display: inline;
	list-style: none;
	padding: 20px;
}

ul.horizontal-list li {
	display: inline;
	float:left;
}

p {
  margin: 0 0 10px;
}